body { /* Everything in the body*/
    background-color: rgb(150, 185, 245);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:contain
    
    
}

.Title {/*Title text */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 45%;
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    font-size: 70px;
    font-family: "Lucida Handwriting", cursive;
    color: #cb210e;

}

.centreButtons { /*Buttons to be central */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
}

.menuButton{ /* Styling of the menu buttons*/
   
    color: white ;
    background-color: #cb210e;
    border-radius: 35px;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;

    border-color: #bdd4e8;
    border-width: 4px;
    
    width: 200px;
    height: 50px;
   
}

button:hover{ /*hovering of all buttons */
   
    

 
    border-radius: 18px;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    border-color: #4c5e6d;
    
   
  
   
}


.button{ 
    padding: 5px; 
    background-color: rgb(119, 45, 45); 
    border: 1px solid #666291; 
    color: rgb(34, 255, 0); 

  } 

  .closeButton{
    color: white ;
    background-color: #cb210e;
    border-radius: 35px;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;

    position:absolute;
    right:400px;
    top:30px;
    
  }

   
.button:hover { 
    color: rgb(255, 0, 0); 
  } 

.bradImage{
    text-align: center;
    width: 220px;
    position: absolute;
    top: 43%;
    left: 43%;
    
}

#titleImage{
    position:absolute;
    right:275px;
}

#manualImage{

    position:absolute;
    top: 43%;
    left: 40%;
    
}



