body { /* Everything in the body*/
    background-color: rgb(150, 185, 245);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size:1920px;
    
    
}

.Title {/*Title text */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 46%;
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    font-size: 70px;
    font-family: "Lucida Handwriting", cursive;
    color: #cb210e;

}

.centreButtons { /*Buttons to be central */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
}

.menuButton{ /* Styling of the menu buttons*/
   
    color: white ;
    background-color: #cb210e;
    border-radius: 35px;
 


    border-color: #bdd4e8;
    border-width: 4px;
    
    width: auto;
    height: 50px;

    font-style: normal;
    padding-inline: 30px;
   
    

    font-family: "Lucida Grande", cursive;


    font-weight: normal;
   
    font-size: 35px;
   
}

button:hover{ /*hovering of all buttons */
   
    

 
   
  

    font-style: normal;
   
    border-color: #4c5e6d;

    font-family: "Lucida Grande", cursive;


    font-weight: normal;
   
    font-size: 35px;
    
   
  
   
}



  .closeButton{
    color: white ;
    background-color: #cb210e;
    border-radius: 35px;
    width:auto;
  
   

    font-weight: normal;
    font-size: 35px;
    

    position:absolute;
    right: 380px;
    top:30px;
    
  }

   
.button:hover { 
    color: rgb(255, 0, 0); 
  } 

.bradImage{
    text-align: center;
    width: 290px;
    position: absolute;
    top: 43%;
    left: 40%;
    
}

#titleImage{
    position:absolute;
    right:275px;
}

#manualImage{

    width: 500px;

    position:absolute;
    top: 10%;
    left: 33%;
    
}



