body {
    text-align: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    
    

   
}


table, th {
    border: 5px solid black;
    border-collapse: collapse;
   
    margin-left: 50px;
    

}

td{
    border: 5px solid black;
    border-collapse: collapse;
    width: 65px;
    height: 60px;
    margin-left: 50px;
    text-align: center;
    
    
}



.cell {
    background-color: cornflowerblue
}

.border {
    background-color: rgb(230, 230, 230);
}





#playerTitle, #botTitle{
    margin-right: 35%;
    font-family: "Lucida Grande", cursive;
    font-weight: normal;
    font-style: normal;
    stroke: rgb(29, 225, 166);
    stroke-width: 10px;
    

}

#title{
    margin-right: -35%;
    

    font-weight: normal;
    font-style: normal;

}



#loadingGif{
    width: 55px;
    height: 55px;
    top: 13.5%;

    position:absolute;
    left: 1365px;

    
}

#logoImage{
    width: 430px;
    height:100px;
    position:absolute;
    right: 80px;
    top:100px;
    
}

#botImage{
    display: block;
    margin-left: 60%;
    position: absolute;
    
    width: 30%;
    float: right;
   
    top:315px;
    right: 78px;
}

#botSpeech{
    
    position:absolute;
    margin-left: 63%;
    margin-top: 40%;
    text-indent: 10px;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-family: "Lucida Grande", cursive;
    
    
}

.gameDiv{
    background-image: url("back.png");
}

button{
    margin-right: -850px;
    margin-top: -1000px;
    color: white ;
    background-color: #cb210e;
    border-radius: 25px;

    font-family: "Lucida Grande", cursive;


    font-weight: normal;
   
    font-size: 35px;

    border-color: #bdd4e8;
    border-width: 4px;
    
    width: 280px;
    height: 50px;
   
}

button:hover{
    border-radius: 18px;
    font-family: "Lucida Grande", cursive;

    
    border-color: #4c5e6d;

}



#winText{
    color: green;
    text-align: center;
    font-size: 300px;
    font-family: "Lucida Grande", cursive;

}

#loseText{
    color: red;
    text-align: center;
    font-size: 300px;
    font-family: "Lucida Grande", cursive;


}

#replayDiv{ /*Buttons to be central */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 21%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    
}
#endImage{
    display: block;
 margin-right: auto;
 width: 400px;
 position: absolute;
 left: 235px;
 bottom:100px;
 

}

#titleImage{
    position:absolute;
    left:-40px;
    bottom: 460px;
}