body {
    text-align: center;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    
    

   
}





table, th {
    border: 5px solid black;
    border-collapse: collapse;
   
    margin-left: 50px;
    

}

td{
    border: 5px solid black;
    border-collapse: collapse;
    width: 65px;
    height: 60px;
    margin-left: 50px;
    text-align: center;
    
    
}

.cell:hover{
    background-color: green;
}

.cell {
    background-color: cornflowerblue
}

.border {
    background-color: rgb(230, 230, 230);
}




#botImage{
    display: block;
    margin-left: auto;
    position: absolute;
    width: 15%;
    float: right;
    margin-right: 2px;
    top:315px;
    right: 80px;
    
    
    

}

h4{
    float: right;
    margin-right: 295px;
    margin-top: 20%;
   
   

   
    
}

#playerTitle, #botTitle{
    margin-right: 35%;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    stroke: rgb(29, 225, 166);
    stroke-width: 10px;
    

}

#title{
    margin-right: -35%;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.gameDiv{
    background-image: url("back.png");
}

button{
    margin-right: -900px;
    margin-top: -1000px;
    color: white ;
    background-color: #cb210e;
    border-radius: 30px;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 35px;

    border-color: #bdd4e8;
    border-width: 4px;
    
    width: 200px;
    height: 50px;
   
}

button:hover{
    margin-right: -900px;
    color: rgb(196, 193, 193);
    background-color: #93170c;
    border-radius: 30px;
    font-family: 'battlesbridge_demoregular';
    src: url('battlesbridgedemo-al126-webfont.woff2') format('woff2'),
         url('battlesbridgedemo-al126-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    border-color: #4c5e6d;
    
    width: 200px;
    height: 50px;

}

#loadingGif{
    width: 55px;
    height: 55px;
    top: 500px;

    position:absolute;
    left: 1280px;
    
   
    
}

#logoImage{
    width: 430px;
    height:100px;
    position:absolute;
    right: 80px;
    top:100px;
    
}

